html, body{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
}
#thumbnail{
	background-image: url('thumbnail.jpg');
	background-repeat: no-repeat;
	position: relative;
	top: 5%;
	left: 5%;
	border: solid black 1px;
	height: 500px;
	width: 338px;
	display: inline-block;
}
#thumbnail img{
	height: 100%;
	width: 100%;
}
#hoverpad{
	background-image: url('hoverpad.gif');
	cursor: pointer;
	height: 100px;
	width: 100px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#detailed-image{
	display: none;
	position: relative;
	top: 5%;
	left: 5%;
	/*height: 200px;
	width: 200px;*/
	/*background-color: red;*/
	vertical-align: top;
	border: solid;
	overflow: hidden;
}
#detailed-image img{
	position: absolute;
	top: 0px;
	left: 0px;
}