html, body{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
}
a{
	text-decoration: none;
}
header, footer{
	position: relative;
	background-color: #232f3e;
	height: 10%;
	width: 100%;
}
/*asdsadsadsadsadsadsadsadsad*/
.content{
	width: 100%;
	height: 80%;
}
.dropdown-content{
	position: absolute;
	display: none;
	height: 250px;
	width: 250px;
	background-color: green;
	border-radius: 4px;
	z-index: 1000;
}
.dropdown-subcontent{
	z-index: 1000;
	position: absolute;
	display: none;
	height: 250px;
	width: 250px;
	background-color: blue;
	border-radius: 4px;	
}
.dropdown-content p{
	width: 100%;
	height: 20px;
}
.subcontent_options{
	display: none;
}
#subcontent_1{

}
#subcontent_2{

}
/*CSS for the arrows*/
.arrow {
    width: 0; 
	height: 0; 
	border-top: 15px solid black;
	border-bottom: 15px solid black;
	border-right: 15px solid red;
	border-left: 15px solid red;
}
.arrow-bottom{
	border-top: 5px solid white;
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	display: inline-block;
	position: relative;
}
.arrow-up{
	border-top: 10px solid transparent;
	border-bottom: 10px solid white;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	display: none;
	position: absolute;
}